.wrap {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 4.5rem 10.3125rem;
  @media (max-width: 992px) {
    padding: 72px 39px;
  }

  @media (max-width: 767px) {
    padding: 48px 16px;
  }
}